<h1>Your Contacts</h1>

<div class='overall-percentage'>
  <h2>Overall Progress: </h2>
  <h2 id='overall-percentage-value'>
    <%= current_user.overall_percentage %>
  </h2>
</div>

<div class='contacts-list'>
  <%= render partial: 'contacts/contact', collection: @contacts %>
</div>

<%= render 'contacts/form' %>
