<h3>Your Contacts</h3>

{{#link-to 'contacts.new'}}Add a new contact{{/link-to}}

<ul>
{{#each}}
  {{~#link-to 'contacts.show' this}}
    <li><span class="name">{{name}}</div> ({{conversations.length}})</li>
  {{~/link-to}}
{{/each}}
</ul>
